{% extends 'habit/main.html' %}

{% block content %}

<br>
<div class="row" style="padding-left: 15%; padding-right: 15%;">
    <table style="margin: 3%" class="table table-sm">
        <h1> All Habits </h1>
        <tr>
            <th>Habit</th>
            <th>Repeated so far</th>
            <th>Did it</th>
            <!-- <th>Strike</th> -->
            <th>Interval</th>
            <th>Date Created</th>
            <th>Update</th>
            <th>Remove</th>
            <th>View</th>
        </tr>



        {% for order in orders %}
        <tr>
                       
            <td> 
                       {{ order.habit }}
            </td>
            <td>
                {{order.checkedList.count}}
            </td>
            <td>
                <form action="{% url 'check_habit' order.id %}" method="POST">
                    {{form}}
                    {% csrf_token %}
                    <button type="submit" , name="post_id" , value="{{order.id}}" ,
                        class="btn btn-sm btn-danger">Check</button>
                </form>
            </td>
            <!-- <td>
                {{order.strike}}
            </td> -->
            <td>{{order.interval}}</td>
            <td>{{order.date_created}}</td>
            <td><a class="btn btn-sm" style="color: green;" href="{% url 'update_habit' order.id %}">Update</a></td>
            <td><a class="btn btn-sm" style="color: rebeccapurple;" href="{% url 'delete' order.id %}">Delete</a></td>
            <td><a class="btn btn-sm btn-info" href="{% url 'habit' order.id %}">View</a></td>
        </tr>
        {% endfor %}

    </table>
</div>

<br>
<div class="row" style="padding-left: 15%; padding-right: 15%;">
    <table style="margin: 3%" class="table table-sm">
        <h1> Daily Habits </h1>
        <tr>
            <th>Habit</th>
            <th>Repeated so far</th>
            <th>Interval</th>
            <th>Date Created</th>
            <th>Update</th>
            <th>Remove</th>
            <th>View</th>
        </tr>

        {% for day in dailyFilter %}

       <td>
            {{ day.habit }}
        </td> 
       
        <td>
            {{day.checkedList.count}}
           
        </td>

        <td>{{day.interval}}</td>
        <td>{{day.date_created}}</td>
        <td><a class="btn btn-sm" style="color: green;" href="{% url 'update_habit' day.id %}">Update</a></td>
        <td><a class="btn btn-sm" style="color: rebeccapurple;" href="{% url 'delete' day.id %}">Delete</a></td>
        <td><a class="btn btn-sm btn-info" href="{% url 'habit' day.id %}">View</a></td>
        </tr>

        {% endfor %}


    </table>
</div>


<div class="row" style="padding-left: 15%; padding-right: 15%;">
    <table style="margin: 3%" class="table table-sm">
        <tr>
            <th>Habit</th>
            <th>Repeated so far</th>
            <th>Interval</th>
            <th>Date Created</th>
            <th>Update</th>
            <th>Remove</th>
            <th>View</th>
        </tr>


        <h1> Weekly Habits </h1>
        {% for week in weeklyFilter %}
        <tr>
             <td>
                {{ week.habit }}
            </td> 

            <td>
                {{week.checkedList.count}}
            </td>
                      <td>{{week.interval}}</td>
            <td>{{week.date_created}}</td>
            <td><a class="btn btn-sm" style="color: green;" href="{% url 'update_habit' week.id %}">Update</a>
            </td>
            <td><a class="btn btn-sm" style="color: rebeccapurple;" href="{% url 'delete' week.id %}">Delete</a>
            </td>
            <td><a class="btn btn-sm btn-info" href="{% url 'habit' week.id %}">View</a></td>
        </tr>
        {% endfor %}
    </table>
</div>



{% endblock %}