{% extends 'habit/main.html' %}

{% block content %}

<br>
    <h1 style="margin-left: 2%;">
                {% if order.habit != null and order.habit != null  %} <td>
            {{ order.habit }}
        </td> {% endif %}
        {% if order.predefinedHabit != null and order.habit == null%} <td>
            {{ order.predefinedHabit }}
        </td> {% endif %}
    </h1>


    <div class="col-md">
        <div class="card card-body">
            <h5>Total Strikes</h5>
            <h6>Was genau wird damit gemeint?</h6>
            <!-- <h6> {{strikes.date_created}}</h6> -->

            <h5>Established</h5>
            <h6> {{repeats.timeStamp}}</h6>
       
            <p>{{order.strikeList.pk}}</p>
          
            <hr>
            <h1 style="text-align: center; padding: 10px;"></h1>
        </div>
    </div>
</div>



<br>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>Habit</th>
                    <th>Interval</th>
                    <th>Repeated</th>
                    <th>Date Created</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>                            

                <tr>
                    <td> {{checked.date_created}}</td>
                    <!-- <td> {{check.date_created}}</td> -->

                </tr>
            

               {% for order in orders %}
                <tr>
                    {% if order.habit != null and order.habit != null  %} <td>
                        {{ order.habit }}
                    </td> {% endif %}
                    {% if order.predefinedHabit != null and order.habit == null%} <td>
                        {{ order.predefinedHabit }}
                    </td> {% endif %}
                    <td>{{order.created}}</td>
                    <td>{{count}}</td>
                    <td><a  a class="btn btn-sm btn-info" href="{% url 'update_habit' order.id %}">Update</a></td>
                    <td><a  a class="btn btn-sm btn-danger" href="{% url 'delete' order.id %}">Delete</a></td>   
                </tr>

                {% endfor %}

            </table>
        </div>
    </div>
</div>

{% endblock %}


