{% extends 'habit/main.html' %}

{% load static %}

{% block content %}
<br>
<div class="row">
    <div class="col-md-10">
        <div class="card card-body">
            <form action="" method="POST">
                {% csrf_token %}
                {{form}}
                <input type="submit" name="Submit">
               <div class="col-md-4" style="color: rebeccapurple;">Please put in either a predefined habit or a new one. If you put in both, only the new habit will be displayed on the dashboard.</div>
            </form>
        </div>
    </div>
</div>
    

{%endblock%}