{% extends 'habit/main.html' %}

{% load static %}

{% block content %}
<br>
<div class="row">
    <div class="col-md-10">
        <div class="card card-body">
            <form action="" method="POST">
                {% csrf_token %}
                {{form}}
                <br>
                <br>
                <br>   
                <button type="submit" class="btn btn-warning" name="Submit">
                    Submit
                <!-- <input type="submit"  style="background-color: yellow; color:darkblue; box-shadow: orange;" name="Submit"> -->
            </button> 
            </form>
        </div>
    </div>
</div>
    

{%endblock%}