<br>

<div class="row">

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white bg-primary mb-3" id="total-orders">
                <div class="card-header">
                    <h5 class="card-title bg-primary text-white">Total Orders</h5>
                </div>
                <div  class="card-body">
                    <h3 class="card-title"></h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3 bg-secondary" id="total-orders">
                <div class="card-header">
                    <h5 class="bg-secondary text-white card-title">Orders Delivered</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title"></h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center bg-success text-white mb-3" id="total-orders">
                <div class="card-header">
                    <h5 class="card-title bg-success text-white">Orders Pending</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title"></h3>
                </div>
            </div>
        </div>
    </div>



</div>